body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eddeee;

      
  }
  
  .container {
    margin: 0 auto;
    width: 80%;
    max-width: 1124px;
  }
  .header img {
    float: left;
    width: 500px;
    height: 200px;
    background: #555;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    font-size: 80px;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    height: auto;
    float: left;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  .content {
    margin-left: 200px;
    padding: 1px 16px;
    height: auto;
    display:inline-block;
    vertical-align:top;
    overflow: hidden;
  }
  .content img {
    width: 600px;
    height: 400px;
    background: #555;
  }
